# Realtime Service URLs
REALTIME_HTTP_URL=http://localhost:8081
NEXT_PUBLIC_REALTIME_HTTP_URL=http://localhost:8081
NEXT_PUBLIC_REALTIME_WS_URL=ws://localhost:8080

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Network Overrides (Optional)
# NEXT_PUBLIC_MANTLE_NETWORK=mainnet
# NEXT_PUBLIC_MANTLE_RPC=https://rpc.mantle.xyz
# NEXT_PUBLIC_MANTLE_WSS=wss://wss.mantle.xyz
